@font-face {
    font-family: 'BOOWIE Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BOOWIE Regular'), url('BOOWIE.woff') format('woff');
    }
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --praesision-font-size: calc(4vw + 4vh);
    --praesision-font-size-responsive: calc(3.5vw + 3.5vh);
    --golden-ratio: 1.618;
    --webas-font-size: calc(var(--praesision-font-size) / var(--golden-ratio));
    --kopf-font-size: calc(var(--webas-font-size) / (var(--golden-ratio) * 1.8));
    --royale-blue: #4169e1;
    
}
@media (max-width: 768px) {
    :root {
        --praesision-font-size: calc(3.5vw + 3.5vh);
    }
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    background-color: #fbfbfb;
}



/* Header */


header {
    background-color: #fbfbfb;
    padding: 4vh 20px 0vh 20px;
    z-index: 999;
    position: relative; /* Ändern Sie dies zu 'relative' */
    visibility: hidden; /* Header anfangs unsichtbar machen */
    opacity: 0; /* Header anfangs durchsichtig machen */
    transition: visibility 0s linear 3s, opacity 0.5s linear;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: #fbfbfb;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    padding-bottom: 2rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    
}

  
  #myHeader {
    transition: box-shadow 0.5s, opacity 0.5s;
}


.sticky-visible {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    opacity: 1; 
}



.main-nav {
    text-align: center;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.main-nav li {
    margin: 0 4.5vh;
}

.main-nav a {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
}


.main-nav a {
    position: relative;
}

.main-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 0;
    background-color: black;
    transition: width 0.3s;
}

.main-nav a:hover::after {
    width: 100%;
}

/**/
.no-scroll {
    overflow: hidden;
    height: 100%; /* Dies verhindert das Scrollen auf einigen mobilen Geräten */
}

/*Hamburger Header*/
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

.close-icon {
    display: none;
  }

.menu.active .close-icon {
    display: block;
}
  
.menu-icon.hidden {
    display: none;
}
  
@media screen and (max-width: 950px) {
    .menu-icon-raised {
        top: 50%;
        transform: translateY(-50%);
      }
    
    .menu-icon {
      display: block;
      position: absolute;
      right: 5%;
      
    }
  
    .menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fbfbfb;
        z-index: 999;
        text-align: left;
        padding-top: 60px;
        opacity: 0;
        transition: opacity 0.5s;
        pointer-events: none; /* Fügen Sie diese Zeile hinzu */
    }
      
    .menu.active {
        opacity: 1 !important;
        pointer-events: auto;

    }
      
    .menu ul {
      flex-direction: column;
      align-items: left;
      justify-content: left;
      padding-left: 3rem;
      margin: 0;
      padding-top: 4rem;

    }
  
    .menu li {
      margin: 3px 0;
      position: relative;
    }
    .menu li:not(:last-child)::after {
        content: "";
        display: block;
        height: 1px;

        margin: 10px 0;
    }
    .menu a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: calc(var(--kopf-font-size) * 2);
    }
    .main-nav li:last-child a{
        all: unset;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: calc(var(--kopf-font-size) * 2);
        text-transform: uppercase;
        color: black;
        padding-bottom: 3px;
    }
    /* .main-nav li:last-child a:hover {
        Letze element der Li im Menu Activ
      } */
}
  
.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}

.black.material-symbols-outlined {
    color: #000; /* Schwarz */
}
  
  .material-symbols-outlined {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 2.5;
}
.material-symbols-outlinedone{
    color: black;
}
.material-symbols-outlined:hover{
    scale: 1.2;
    transition: .5s;
}
.close-icon {
position: absolute;
top: 25px;
right: 25px;
font-size: 24px;
cursor: pointer;
display: none;
}


.banner1{
    height: 300vh;
}

/* CSS-Regeln für den Video-Container */
.containervideo {
    position: relative;
    width: 100%;
    height: 100vh; /* Höhe des Video-Containers, passt die Höhe des Videos an */
    z-index: -1; /* Stellt sicher, dass das Video hinter dem Inhalt bleibt */
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Stellt sicher, dass das Video den Container vollständig bedeckt */
}

/* .parallax {
    height: 300px; 
    background-image: url('Motor.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1; 
}
 */

/* Stellen Sie sicher, dass der Rest des Inhalts (falls vorhanden) ebenfalls korrekt im Dokumentfluss positioniert wird */


@media (max-width: 600px) {
    #background-video {
        width: 80vw; /* Korrektur der Breite */
        height: 80vh; /* Automatische Höhenanpassung */
        position: absolute; /* Korrektur der Positionierung */
        top: 0;
        left: 50%;
        transform: translateX(-50%); /* Zentrierung des Videos */
    }
}


.image-text-section {
    display: flex;
    align-items: center;
    justify-content: right; /* Ändern Sie dies zu flex-start, um den Inhalt nach links zu schieben */
    min-height: 100vh;
    background-image: url('Werkstatt.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.image-text-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); /* Schwarzer Overlay mit 50% Opazität */
    z-index: -1; /* Unter dem Textinhalt */
}

.image-text-wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 0 4rem;
    /* Keine Änderungen hier */
}

.text-content {
    max-width: 540px;
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    margin-left: auto; /* Fügt einen automatischen linken Rand hinzu, um den Inhalt nach rechts zu schieben */
    margin-right: 4rem; /* Passt die rechte Margin an, um etwas Abstand zur Seite zu haben */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}



/* Anfangszustand der Animation */
.text-content,
.btn2,
.icon-container  {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Zielzustand der Animation */
.fade-in
 {
    opacity: 1;
    transform: translateY(0);
}


.btn {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    background-color: #c10000;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
}
.btn:hover{
    background-color: #9d0202;
    transition: .5s;
}


.custom-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    background-color: #f5f5f5; /* oder eine andere Farbe Ihrer Wahl */
}

.section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text-content2 {
    flex: 1;
    padding: 2rem;
}

.image-content {
    flex: 1;
    padding: 2rem;
}

.image-content img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Schatten hinzufügen */
    margin: 2rem; /* Optionaler Abstand um das Bild */
}


.btn2 {
    background-color:  #c10000; /* Farbe des Buttons */
    color: white;
    text-decoration: none;
    padding: 0.8rem 2rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 2px;
}
.btn2:hover{
    background-color: #9d0202;
    transition: .5s;
}
/* Media Query für kleinere Bildschirme */
@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
    }

    .text-content2, .image-content {
        width: 100%;
        padding: 1rem;
    }

    .btn2 {
        width: 100%; /* Button auf die volle Breite */
        text-align: center;
    }
}

@media (max-width: 500px) {
    .text-content {
        width: 100%; /* Breite des Textinhalts auf 80% des Bildschirms setzen */
        margin: 0 auto; /* Zentriert den Textinhalt */
        padding: 1rem; /* Etwas Abstand hinzufügen */
        text-align: center; /* Text mittig ausrichten */
    }

    .btn {
        width: auto; /* Die Breite des Buttons zurücksetzen */
        padding: 0.8rem 2rem; /* Button-Padding anpassen */
    }

    .custom-section{
        padding: 0;
        width: 100%;

    }
 

    .custom-section .text-content2 {
        padding: 10px; /* Setzt einen gleichmäßigen Innenabstand */
        margin-left: 10px; /* Fügt einen linken Rand hinzu */
        margin-right: 10px; /* Fügt einen rechten Rand hinzu */padding: 1rem;
    }

    .custom-section .image-content img {
        width: 100%; /* Stellt die Bildbreite auf 100% ein */
        height: auto; /* Erhält das Seitenverhältnis des Bildes */
        margin: 0 auto; /* Zentriert das Bild, falls notwendig */
        display: block; /* Stellt sicher, dass das Bild als Block-Element behandelt wird */
    }

    .custom-section .section-content, .custom-section .image-content {
        width: 100%; /* Stellt sicher, dass der Container die volle Breite einnimmt */
        padding: 10px; /* Entfernt Padding, das die Breite beeinflussen könnte */
        margin: 0; /* Entfernt Margin */
    }

    .custom-section .image-content img {
        width: 100%; /* Bildbreite auf 100% */
        height: auto; /* Beibehalten des Seitenverhältnisses */
        display: block; /* Behandelt das Bild als Block-Element */
    }
    .custom-section .btn2 {
        width: auto; /* Setzt die Breite des Buttons auf den Inhalt */
        padding: 0.8rem 2rem; /* Beibehalten eines angemessenen Padding für den Text */
        display: inline-block; /* Erlaubt dem Button, nur so viel Platz wie nötig einzunehmen */
        margin: 10px 0; /* Fügt oben und unten einen kleinen Abstand hinzu, zentriert ihn aber nicht horizontal */
    }
    .custom-section p{
        padding-left: 10px;
    }
}


.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 10rem 0;
}

.icon {
    flex-basis: 30%; /* Jedes Icon nimmt ungefähr 30% der Containerbreite ein */
    margin: 10px;
}

.icon img {
    width: 100px; /* Stellen Sie die Größe der Bilder nach Bedarf ein */
    height: auto;
}

@media (max-width: 768px) {
    .icon {
        flex-basis: 100%; /* Jedes Icon nimmt die volle Breite ein */
    }
    
    /* Zentriert das mittlere Icon, wenn es unter die anderen rutscht */
    .icon:nth-child(2) {
        order: 3; /* Setzt das mittlere Icon an das Ende */
        margin: 20px 0; /* Fügt oben und unten einen Abstand hinzu */
    }
}
